[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty

[submodule "zsh/custom-modules/fzf-tab"]
	path = zsh/custom-modules/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/custom-modules/fast-syntax-highlighting"]
	path = zsh/custom-modules/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
